.site-footer{

    padding-top: $spacer*2;
    padding-bottom: $spacer*2;
    color: $white;

    .container{
        @extend .d-flex;
        @extend .flex-wrap;
        @extend .justify-content-between;
    }
    
    .menu{
        @extend .nav;
    }
    
    .menu-item{
        @extend .nav-item;
        
        a{
            @extend .btn;
            @extend .text-light;
            @extend .nav-link;
        }
    }
    
    .sub-menu{
        display: none;
    }
    
    .widgets-wrap{
        @extend .d-flex;
        @extend .flex-wrap;
        @extend .justify-content-between;
    }
}