.site-footer{

    padding-top: $spacer*2;
    padding-bottom: $spacer*2;
    color: $white;

    .container{
        @extend .d-flex;
        @extend .flex-wrap;
        @extend .justify-content-between;
    }
}