.post-thumbnail{
    margin-bottom: $spacer*2;
}

.entry-content{
    figure,
    img{
        max-width: 100%;
        height: auto;
    }
}

.wp-caption-text{
    @extend .text-muted;
    font-size: $font-size-sm;
    margin: $spacer/2 $spacer;
}

.alignnone{
    margin: $spacer*1.5 0;
}