.main-navbar{
    padding: $spacer $spacer*2;

    .menu-item{
        @extend .text-uppercase;
        @extend .nav-item;
        line-height: $headings-line-height;

        a{
            @extend .btn;
            @extend .nav-link;
            color: $gray-800;
        }

        &:hover{
            a{
                color: $white;
                background-color: $gray-600;
            }
        }

        &.current_page_item{
            > a{
                color: $white;
                background-color: $secondary;
            }
        }
    }

    .sub-menu{
        @extend .list-unstyled;
        display: none;
    }

    .menu-item-has-children{
        position: relative;
        
        .menu-item{
            a{
                text-align: left;
            }
        }
        > a{
            &:before{
                @include material-icon('\e313');
                float: right;
                vertical-align: middle;
                padding-left: $grid-gutter-width/6;
            }

        }
        &:hover{
            .sub-menu{
                z-index: 999;
                position: absolute;
                top: 100%;
                padding-left: 0;
                display: block;
            }
            &:before{
                color: currentColor;

            }
        }
    }

    .list-languages{
        @extend .text-uppercase;
        margin-bottom: 0;

        .lang-item{
            @extend .list-inline-item;
            &.current-lang{
                a{
                    color: $primary;
                }
            }
            a{
                padding: $spacer $spacer/2;
                color: inherit;
            }
        }
    }

    .call-to-action-menu{
        a{
            color: inherit;
            @extend .text-light;
            @extend .btn-primary;
        }
    }
}

.wrap-breadcrumbs{
    background-color: $gray-200;
}

.breadcrumb {
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;

    li {
        // Trim last two breadcrumb items
        &:nth-last-child(-n + 2) {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}