@include media-breakpoint-up(md) {
    .hentry-child{
        &:nth-child(odd){
            .post-thumbnail{
                order: 2;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .custom-header-media-default{
        background-size: contain !important;
    }
    .sub-menu{
        margin-left: $spacer;
    }
}

@include media-breakpoint-up(lg) {
    .main-navbar{
        .sub-menu{
            display: none;
        }
        .menu-item-has-children{
            &:hover{
                .sub-menu{
                    z-index: 999;
                    position: absolute;
                    top: 100%;
                    padding-left: 0;
                    display: block;
                }
                &:before{
                    color: currentColor;

                }
            }
        }
    }
}