.sidebar{
    .widget{
        margin-bottom: $spacer;
        background: $gray-100;
        padding: $spacer*2;        
    }
    .widgettitle{
        @extend .text-uppercase;
        @extend .h5;
        margin-bottom: $spacer;
    }
    ul,
    ol{
        @extend .mb-0;
    }
}

.widget{
    select{
        @extend .custom-select;
    }

    .searchform{
        position: relative;
        min-height: $input-height;
        input[type=text]{
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            margin-right: $spacer*3;
            @extend .form-control;
        }
        input[type=submit]{
            position: absolute;
            right: 0;
            top: 0;
            @extend .btn;
            @extend .btn-secondary;
        }
    }
}

.site-footer{
    .widget{
        margin-top: $spacer;
        margin-bottom: $spacer;
    }

    .widgettitle{
        @extend .text-uppercase;
        @extend .h5;
    }

    .textwidget{
        font-size: $font-size-sm;
        color: lighten($secondary, 20%);
    }
}